<div class="pt-3">
    <h1 class="text-center text-<%= color %>">
        <strong><%= title %></strong>
    </h1>
    <hr>
    <div class="text-center">
        <a href="/auth/google" class="mx-2 d-inline-block shadow rounded-circle p-2">
            <img src="/icons/google.svg" class="icons" alt="Auth with Google">
        </a>
        <a href="/auth/twitter" class="mx-2 d-inline-block shadow rounded-circle p-2">
            <img src="/icons/twitter.svg" class="icons" alt="Auth with Twitter">
        </a>
        <a href="/auth/facebook" class="mx-2 d-inline-block shadow rounded-circle p-2">
            <img src="/icons/facebook.svg" class="icons" alt="Auth with Facebook">
        </a>
        <a href="/auth/github" class="mx-2 d-inline-block shadow rounded-circle p-2">
            <img src="/icons/github.svg" class="icons" alt="Auth with Github">
        </a>
    </div>
    <p class="text-muted text-center py-2"><%= subtitle %></p>
</div>
