          </div>
     </div>
     <script src="/socket.io/socket.io.js"></script>
     <script src="/js/socket.js"></script>
     <script type="text/javascript">
          const btn = document.getElementById("sidebarCollapse");
          btn.addEventListener("click", () => {
               document.getElementById("sidebar").classList.toggle("active");
          });
     </script>
</body>
</html>
