<%- include("layouts/default-header.ejs"); %>
    <div class="container-fluid">
        <div
            class="row justify-content-center align-items-center"
            style="height: 85vh;"
        >
            <div class="col-11 col-md-6 p-5">
                <h1>
                    <strong>Vuochat te permite comunicarte con tus familiares y amigos de manera instantanea.</strong>
                </h1>
                <p class="text-muted">Enviar mensaje a la velocidad de la luz nunca habia sido tan sencillo, Vuochat te provee un servicio para que te encuentres siempre comunicado. ¡Pruebalo ya!</p>
                <a href="/register" class="btn btn-primary px-3">Crea una cuenta</a>
            </div>
            <div class="col-10 col-md-6 d-none d-md-block">
                <img
                    src="/images/banner-1.svg"
                    alt="Mensajes con amigos"
                    width="100%"
                    height="100%"
                >
            </div>
        </div>
    </div>
<%- include("layouts/default-footer.ejs"); %>
